/* LAST RULE */
/* P{
    color: red;
}
P{
    color: green;
}
P{
    color: blue;
} */
/* SPECIFICITY */
/* *{
    color: red; I !important;
}
p{
    color: green;
}
p#intro{
    color: blue;
} */
/* INHERITANCE */
 /* div{
    color: blue;
}

/* p{
    font-family: cursive;
    color: red;
} */
body {
    font-family: Arial, Verdana, sans-serif;
    color: #665544;
    padding: 10px;
border: 1px solid red;}
    .page {
    border: inherit;
    padding: inherit;} 